.cases__top {

    display: flex;
    gap: 116px;
    margin-bottom: 70px;
    align-items: flex-end;
}

.cases__title {

    display: flex;
    max-width: 360px;
    width: 100%;
    font-size: 60px;
    letter-spacing: -1.8px;
    line-height: 0.98;
    font-weight: 500;
}

.cases__text {

    font-size: 32px;
    letter-spacing: -1.8px;
    margin-bottom: -44px;
    color: var(--gray);
    max-width: 580px;
    width: 100%;
    gap: 70px;
}

.cases__arrow {

    margin-bottom: 114px;
    gap: 70px;
}

.cases__card {

    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 106px;
    border-bottom: 1px solid var(--black);
}

.cases__card:not(:last-child) {

    margin-bottom: 106px;
}

.cases__content {

    display: flex;
    flex-direction: column;
    max-width: 355px;
    width: 100%;
}

.cases__img {

    height: auto;
    gap: 40px;
}

.cases__numper {
    
    font-family: var(--Inter 28pt);
    font-size: 18px;
    font-weight: 500;
    max-width: 326px;
    color: var(--black);
    margin-bottom: 25px;
    width: 100%;
}

.cases__description {
    display: flex;
    max-width: 356px;
    font-size: 18px;
    color: var(--black);
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: -0.72px;
    line-height: 24px;
    width: 100%;
}

.cases__subtext {
    display: flex;
    color: var(--gray);
    max-width: 315px;
    margin-bottom: 167px;
    letter-spacing: -0.51px;
    line-height: 1.2;
    width: 100%;
    font-size: 14px;
}

.cases__link {
    font-size: 18px;
    text-decoration: underline;
    margin-top: auto;
    max-width: max-content;
    color: var(--black);
    transition: color .4s, background-color .4s;
}

.cases__link {
    color: var(--black);
}

.cases__link:hover {
    color: var(--blue);
}

.cases__link:focus {
    color: var(--white);
    background-color: var(--gray);
}

@media(max-width:1200px) {
    .cases__title {
        font-size: 55px;
    }

    .cases__text {
        font-size: 28px;

    }

    .cases__arrow {
        margin-bottom: 100px;
    }
}

@media(max-width:1000px) {
    .cases__title {
        font-size: 50px;
        margin-bottom: 100px;
    }

    .cases__text {
        font-size: 24px;
    }

    .cases__img {
        width: 480px;
    }

    .cases__card {
        gap: 100px;
        padding-bottom: 70px;
    }

}

@media(max-width:900px) {
    .cases__title {
        font-size: 45px;

    }

    .cases__text {
        font-size: 23px;
    }

}

@media(max-width:860px) {
    .cases__top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .cases__title {
        text-align: center;
        margin-bottom: 0;
        font-size: 44px;
    }

    .cases__text {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .cases__arrow {
        margin: 0 auto 50px;
        width: 28px;
    }

    .cases__it {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 50px;
        padding-bottom: 30px;
    }

    .cases__link {
        margin: 0 auto;
    }

    .cases__img {
        width: 550px;
    }

    .cases__card {
        gap: 45px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

}

@media(max-width:400px) {
    .cases__title {
        font-size: 34px;
        line-height: 1.1;
        max-width: 300px;
        text-align: center;
    }

    .cases__text{
        font-size: 20px;
    }

    .cases__arrow{
        width: 22px;
    }

    .cases__content{
        font-size: 16px;
        margin-bottom: 28px;
    }

    .cases{
        margin-bottom: 0px;
    }

    .cases__card{
        gap: 60px;
    }

    .cases__items{
        padding-bottom: 30px;
        gap: 30px;
    }
}

